body{
    background-color: #FCFCFC;
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', "Pretendard Variable";
}
nav{
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 0px 200px 0px 200px;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #FFD966;
    font-weight: bolder;
    font-size: 30px;
}
.logo{
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul li {
    list-style: none;
}
.navUI{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #737373;
    align-items: center;
}
#name{
    color: #FFD966;
}
#profile{
    width: 40px;
    height: 40px;
}

main{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

#call{
    weight: 200px;
    height: 200px;
    margin: 150px 0 10px 0;
}
.button{
    margin-top: 30px;
}
#도움\ 수락{
    background-color: white;
    font-size: 15px;
    color: #FFD75C;
    border: 1.5px solid #FFC30C;
    margin: 0 0 0 50px;
    padding: 15px;
    border-radius: 70px;
    cursor: pointer;
}
#도움\ 수락:hover{
    background-color: #FFC30C;
    transition: all 0.3s;
    color: white;

}
#거절{
    background-color: white;
    font-size: 15px;
    color: darkgrey;
    border: 1.5px solid gainsboro;
    margin: 0 50px 0 0;
    width: 126px;
    padding: 15px;
    border-radius: 70px;
    cursor: pointer;
}
#거절:hover{
    background-color: gainsboro;
    transition: all 0.3s;
    color: white;
}

